/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.78;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  margin: 0 auto;
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66;
  letter-spacing: 0.03em;
  color: inherit;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: inherit;
  }
}

.logo--blue {
  color: #2196f3;
}

.logo--dark {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1;
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
}

.close-menu__icon {
  fill: currentColor;
}

.close-menu:hover .close-menu__icon,
.close-menu:focus .close-menu__icon {
  fill: #2196f3;
}

.mob-item {
  margin-bottom: 32px;
}

.mob__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob__link:hover, .mob__link:focus {
  color: #2196f3;
}

.mob-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contact__link--big {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mob-menu-contact__link--big {
    font-size: 34px;
    line-height: 1.76;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

.mob-menu-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-social {
  margin-top: 64px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -10px;
}

.mob-menu-social__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.mob-menu-social__item:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu__item {
  margin-right: 50px;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.current {
  color: #2196f3;
  position: relative;
}

.current::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 41px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .current::after {
    top: 46px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: scale(1) perspective(50px) translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(1.5) perspective(50px) translate(-50%);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover .close-modal__icon {
  fill: #2196f3;
}

.modal-form {
  width: 100%;
}

.modal__title {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.modal-input-thumb {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.modal__input:hover, .modal__input:focus {
  border-color: #2196f3;
}

.modal-input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-input__icon,
.modal-input:focus + .modal-input__icon {
  fill: #2196f3;
}

.modal__coments {
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__coments:hover, .modal__coments:focus {
  border-color: #2196f3;
}

.license-label {
  width: 100%;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.modal__checkbox {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.modal-checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url("../images/Vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.modal__checkbox:checked + .modal-checkbox__icon {
  background-color: #2196f3;
  border-radius: 2px;
  background-image: url("../images/icon-check.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-checkbox__text {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.license-link {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
  color: #2196f3;
}

.modal__submit {
  display: block;
  padding: 10px 56px;
  margin: 0 auto;
}

.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    justify-content: center;
  }
}

.portfolio-filter__btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  margin-right: 8px;
  margin-bottom: 15px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-filter__btn {
    margin-bottom: 0;
  }
}

.portfolio-filter__btn:hover, .portfolio-filter__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #ffffff;
  outline: none;
}

.portfolio-worklist {
  margin-top: 40px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .portfolio-worklist {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.worklist-item {
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .worklist-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .worklist-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.worklist-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.worklist-thumb {
  position: relative;
  overflow: hidden;
}

.worklist__img {
  width: 100%;
}

.worklist-container {
  padding: 20px 0;
  padding-left: 24px;
  border: #eeeeee 1px solid;
}

.worklist-overlay {
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worklist-item:hover .worklist-overlay {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worklist-overlay__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.worklist__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.worklist__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  width: 100%;
  border-bottom: #ececec 1px solid;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header-wrap {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header-wrap {
    max-width: 1200px;
  }
}

.open-menu_btn {
  border: none;
  background-color: transparent;
}

.menu-icon {
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-menu_btn:hover .menu-icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

.header-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: block;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu {
    margin-left: 93px;
  }
}

.header-menu-list {
  display: flex;
}

.header-contact_link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: #2196f3;
}

.header-contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contact {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    margin-bottom: 0;
    display: flex;
    margin-left: auto;
  }
  .header-contact_item:not(:first-child) {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header-contact_item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-contact_icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/bghero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 118px 0;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero-container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .hero-container {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    max-width: 696px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}

.hero__btn {
  margin: 0 auto;
  padding: 10px 32px;
  display: block;
}

.peculiarities-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .peculiarities-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.peculiarities-card {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .peculiarities-card {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities-card {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.peculiarities-card__box {
  background-color: #f5f4fa;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.peculiarities-card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .peculiarities-card__title {
    text-align: left;
  }
}

.peculiarities-card__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  height: 75px;
  margin-top: 10px;
}

.ourworks {
  width: 100%;
  padding-top: 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  .ourworks {
    display: block;
  }
}

.ourworks-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.ourworks-item {
  flex-basis: calc(100% / 3 -30px);
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}

.ourworks-item__thumb {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.ourworks-item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0;
}

.ourteam {
  background-color: #f5f4fa;
}

.ourteam-list {
  margin-top: 30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .ourteam-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .ourteam-list {
    margin-top: 50px;
  }
}

.ourteam-card__img {
  width: 100%;
}

.ourteam-card {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .ourteam-card {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .ourteam-card {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.ourteam-card__thumb {
  background-color: #ffffff;
  padding: 30px 0;
}

.ourteam-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.ourteam-card__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.ourteam-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ourteam-social__item:not(:last-child) {
  margin-right: 10px;
}

.ourteam-social__link {
  color: #afb1b8;
}

.ourteam-social__link:hover, .ourteam-social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social__icon {
  fill: currentColor;
}

.clients-section__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-section__title {
    margin-bottom: 50px;
  }
}

.clients {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__item {
  height: 92px;
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.page-footer {
  background-color: #2f303a;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .tablet-thumb {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .tablet-thumb {
    justify-content: flex-start;
  }
}

.footer-left-thumb {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-left-thumb {
    text-align: left;
  }
}

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

.footer-contact__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-center-thumb {
  padding-top: 12px;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-center-thumb {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-center-thumb {
    text-align: left;
    margin-left: 70px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.center-thumb-social {
  display: flex;
  justify-content: center;
}

.center-thumb__item:not(:first-child) {
  margin-left: 10px;
}

.center-thumb__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.center-thumb__link:hover, .center-thumb__link:focus {
  background-color: #2196f3;
}

.social__icon--white {
  fill: #ffffff;
}

.rith-thumb {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .rith-thumb {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .rith-thumb {
    max-width: 570px;
    margin: 0;
    margin-left: 93px;
    padding-top: 12px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-thumb {
    display: flex;
    width: 100%;
  }
}

.footer__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.footer-form__button {
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 28px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer-form__icon {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */