@import "./utils/normalize";
@import "./utils/base";
@import "./utils/variables";
@import "./utils/mixins";

@import "./components/visually-hidden";
@import "./components/title";
@import "./components/container";
@import "./components/section";
@import "./components/btn";
@import "./components/logo";
@import "./components/mob-menu";
@import "./components/menu";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/filter";
@import "./components/worklist";
@import "./components/social";

@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/peculiarities";
@import "./layouts/ourworks";
@import "./layouts/ourteam";
@import "./layouts/clients";
@import "./layouts/footer";
