.menu__item {
  margin-right: 50px;
}

.menu__link {
  font-weight: 500;
  @include font(14px, 1.14, 0.02em, #212121);
  transition: color $transition-duration $timing-function,
    text-shadow $transition-duration $timing-function;
  &:hover,
  &:focus {
    color: getColor("accent-color");
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.current {
  color: getColor("accent-color");
  position: relative;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 41px;
    width: 100%;
    height: 4px;
    background-color: getColor("accent-color");
    border-radius: 2px;
    @media screen and (min-width: 1200px) {
      top: 46px;
    }
  }
}
