.mob-menu {
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu-container {
  height: 100%;
  max-width: 480px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-menu {
  position: absolute;
  top: -30px;
  right: -30px;
  @include flex();
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
}

.close-menu__icon {
  fill: currentColor;
  .close-menu:hover &,
  .close-menu:focus & {
    fill: getColor("accent-color");
  }
}

.mob-item {
  margin-bottom: 32px;
}

.mob__link {
  font-weight: 500;
  @include font(40px, 1.175, 0.02em, #212121);
  &:hover,
  &:focus {
    color: getColor("accent-color");
  }
  &--current {
    color: getColor("accent-color");
  }
}

.mob-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contact__link--big {
  font-weight: 500;
  @include font(24px, 1.66, 0.02em, #2196f3);
  @media screen and (min-width: 480px) {
    @include font(34px, 1.76, 0.02em, #2196f3);
  }
}

.mob-menu-contact__link {
  font-weight: 500;
  @include font(24px, 1.66, 0.02em, #757575);
}

.mob-menu-social {
  margin-top: 64px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -10px;
}

.mob-menu-social__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.mob-menu-social__item:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu-social__link {
  font-weight: 500;
  @include font(18px, 1.22, 0.02em, #2196f3);
}
