.clients-section__title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.clients {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__item {
  height: 92px;
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 5px;
  @include flex();
  color: getColor("icon-color");
  transition: border-color $transition-duration $timing-function,
    color $transition-duration $timing-function;
  &:hover,
  &:focus {
    border-color: getColor("accent-color");
    color: getColor("accent-color");
  }
}

.clients__icon {
  fill: currentColor;
}
