.page-footer {
  width: 100%;
  background-color: #2f303a;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.tablet-thumb {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.footer-left-thumb {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

address {
  font-style: normal;
  @include font(14px, 1.71, 0.03em, #ffffff);
  margin-top: 20px;
}

.footer-contact__link {
  @include font(14px, 1.71, 0.03em, rgba(255, 255, 255, 0.6));
  display: block;
  margin-top: 9px;
  transition: color $transition-duration $timing-function;
}

.footer-center-thumb {
  padding-top: 12px;
  margin-bottom: 60px;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-left: 70px;
  }
}

.footer__title {
  font-weight: 700;
  @include font(14px, 1.14, 0.03em, #ffffff);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.center-thumb-social {
  display: flex;
  justify-content: center;
}

.center-thumb__item:not(:first-child) {
  margin-left: 10px;
}

.center-thumb__link {
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: getColor("accent-color");
  }
}

.social__icon--white {
  fill: getColor("accent-icon-color");
}

.rith-thumb {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: 768px) {
    max-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 570px;
    margin: 0;
    margin-left: 93px;
    padding-top: 12px;
    text-align: left;
  }
}
.footer-form-thumb {
  @media screen and (min-width: 1200px) {
    display: flex;
    width: 100%;
  }
}

.footer__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  @include font(16px, 1.25, 0.03em, rgba(255, 255, 255, 0.6));
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-form__button {
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer-form__icon {
  margin-left: 10px;
}
