.header {
  width: 100%;
  border-bottom: #ececec 1px solid;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.open-menu_btn {
  border: none;
  background-color: transparent;
}

.menu-icon {
  fill: currentColor;
  transition: color $transition-duration $timing-function;
  .open-menu_btn:hover & {
    fill: getColor("accent-color");
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.header-menu-list {
  display: flex;
}

.header-contact_link {
  font-weight: 500;
  @include font(12px, 1.166, 0.02em, #757575);
  display: flex;
  align-items: center;
  transition: color $transition-duration $timing-function;
}

.contact:hover,
.contact:focus {
  color: getColor("accent-color");
}

.header-contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    display: flex;
    margin-left: auto;
    &_item:not(:first-child) {
      margin-left: 50px;
    }
  }
  &_item:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
  }
}

.header-contact_icon {
  fill: currentColor;
  margin-right: 10px;
}
