.ourteam {
  background-color: #f5f4fa;
}

.ourteam-list {
  margin-top: 30px;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}

.ourteam-card {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media screen and (min-width: 768px) {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.ourteam-card__thumb {
  background-color: #ffffff;
  padding: 30px 0;
}

.ourteam-card__title {
  font-weight: 500;
  @include font(16px, 1.18, 0.03em, getColor("title-color"));
  text-align: center;
}

.ourteam-card__text {
  @include font(16px, 1.18, 0.03em, getColor("text-color"));
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.ourteam-social {
  @include flex();
}

.ourteam-social__item:not(:last-child) {
  margin-right: 10px;
}
.ourteam-social__link {
  color: getColor("icon-color");
  &:hover,
  &:focus {
    background-color: getColor("accent-color");
    color: getColor("accent-icon-color");
  }
}

.social__icon {
  fill: currentColor;
}
